<%- include ('layout/header') %>
<%- include ('layout/nav') %>
<div class="content">
<h2>Reset Password</h2><br>
<% if (user) { %>
    <form method="POST" action="/dataUser/reset-pswd/<%= user.username %>">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required>
      <button type="submit">Reset Password</button>
    </form>
  <% } else { %>
    <p>User not found</p>
  <% } %>

</div>
<%- include ('layout/footer') %>


