<nav class="navbar navbar-expand-sm custom-navbar navbar-dark" id="myTopnav"  >
  <!-- Brand/logo -->
  <!--<a class="navbar-brand" href="#">Logo</a>-->
  <h5 class="navbar-brand">Aplikasi Kasir Toko Buku</h5>
</nav>

  <div class="sidebar">
    <img src="/images/logo.png" alt="SLZ admin" style="max-width: 50%;">
      <a href="#" class="active"> Menu</a>
      <a href="/home"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
      <a href="/dataUser"><i class="fas fa-users"></i> Data User</a>
      <a href="/dataBuku"><i class="fa fa-book"></i> Data Buku</a>
      <a href="/transaksi"><i class="fas fa-shopping-cart"></i> Transaksi</a>
  </div>